  .custom-heading-one {
    font-family: "Lavishly Yours", serif;
    font-size: 150px;
    letter-spacing: 5px;
  }

  .custom-heading-two {
    font-family: "Forum", serif;
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 5px;
  }

  .main-section {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      align-items: center; 
  }

  @media (max-width: 768px) {
    .custom-heading-one {
      font-size: 110px;
    }
  
    .custom-heading-two {
      font-size: 50px;
      letter-spacing: 3px;
    }

    .main-section {
      margin-top: 20%;
  }
  }