.page-header {
    background-image: url("../assets/backgroundKatalog.png");
    background-size: cover;
    background-position: center;
    height: 50vh;
    padding: 20px;
    text-align: center;
  }
  
  .navbar-container {
    margin-bottom: 10px;
  }
  
  .page-header.about-header {
    background-image: url("../assets/backgroundAbout.png");
  }
  
  .page-header h3 {
    color: #fff;
    font-family: "Lavishly Yours", cursive;
    font-size: 120px;
    letter-spacing: 5px;
    margin-top: 30px;
  }
  
    
  @media (max-width: 768px) {
    .page-header h3 {
      font-size: 28px;
      margin-top: 15px;
    }
  }